/**
 * Основные стили
 **/

body {
  font-family: 'Montserrat Alternates', sans-serif;;
  font-size: 16px;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1920px, 110px);
}

p {
  color: $black;
}
