@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&family=Open+Sans&family=Pacifico&display=swap');

@font-face{
	font-family: Soft Bold;
	src: url('../fonts/19144.ttf') format("truetype");
	font-style: normal;
	font-weight: normal;
}